<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to Friends!</h1>
    <h3>Friendsとは?</h3>
    <p>Friendsは友達作りの交流サイトです。<br>登録して趣味や性格が合う人と出会いましょう!</p>
  </div>
</div>
<div class="text-center">
  <h1><使い方></h1>
</div>
<div class="container"></div>
<div class="center jumbotron">
  <div class="text-center">
      <h1>Friendsを始める?</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>